
@{
    ViewBag.Title = "Index";
}

<table>
    <thead><tr><h1>Bảng xếp hạng tháng 8</h1></tr></thead>
    <tbody>
        <tr>
            <td>@Html.ActionLink("AiHayChuNgo-LamChan-Khang", "Index", "Music")</td>
            <td>@Html.ActionLink("Tải về", "Index", "Music")</td>
        </tr>

        <tr>
            <td>@Html.ActionLink("AiRoiCungKhac-HamletTruong", "Index", "Music")</td>
            <td>@Html.ActionLink("Tải về", "Index", "Music")</td>
        </tr>

        <tr>
            <td>@Html.ActionLink("Anh O Dau - Trang Phap", "Index", "Music")</td>
            <td>@Html.ActionLink("Tải về", "Index", "Music")</td>
        </tr>

        <tr>
            <td>@Html.ActionLink("AnhBiet-HoQuangHieu", "Index", "Music")</td>
            <td>@Html.ActionLink("Tải về", "Index", "Music")</td>
        </tr>

        <tr>
            <td>@Html.ActionLink("AnhBiet-Tim", "Index", "Music")</td>
            <td>@Html.ActionLink("Tải về", "Index", "Music")</td>
        </tr>
    </tbody>
</table>

